# exclude all object and .gch files
*.o
*.hpp.gch
Backend_Code/HFUDashboard_backend
Player_Code/player++
Backend_Code/core
build-HFUDashboard-Desktop_Qt_5_7_0_GCC_64bit-Debug/*
build-HFUDashboard-Rpi3-Debug/*
HFUDashboard-GUI/HFUDashboard.pro.user
